@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Lexend",sans-serif;
  font-variant: tabular-nums;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

input {
  font-family: "Lexend",sans-serif;
  font-variant: tabular-nums;
  font-style: normal;
  font-weight: 400;
}

::-webkit-input-placeholder {
  font-family: "Lexend", sans-serif;
  font-variant: tabular-nums;
  font-style: normal;
  font-weight: 500;
  color: #BBC2D1;
}
:-moz-placeholder {
  font-family: "Lexend", sans-serif;
  font-variant: tabular-nums;
  font-style: normal;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
